
.modalButton2 {
    border-radius: 20px;
    width: 40px;
    height: 37px;
    background-color: maroon;
    border: maroon;
    margin-right: 0px;
   
}

.modalBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}