@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.inputboxType1{
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
    margin-left: -89px;
    margin-top: 30px;
    font-family: 'Indie Flower';
    border: none;
    border-bottom: none;
    border-color: transparent;
}

.inputboxType2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 15px;
    width: 100%; 
    font-family: 'Indie Flower';
    border: none;
    border-bottom: none;
    border-color: transparent;
}
.autosuggestbox{
    display: flex;
    flex-direction: row;;
    margin-left: 24px;
    margin-top: 30px;
    margin-bottom: -14px;
    border: transparent;
    width: 166px;
    background-color: transparent;
    border-radius: 10px; 
    height: 27px;
    padding-bottom: 5px;
    padding-top: 3px; 
    box-shadow: inset 0 0 15px rgba(0,0,0, 0.5); 
}

#XButton{
    width: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: -5px;
    margin-left: 10px;
}

#animal {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 40px;
    font-size: medium;
    list-style-type: none;
    padding-right: -50px;
    margin-bottom: -15px;
    text-overflow: ellipsis;
}

#react-autowhatever-1 {
    list-style: none;
    list-style-type: none;
    z-index: 10;
}

#react-autowhatever-1--open {
    list-style: none;
    list-style-type: none;
    z-index: 10;
}

.react-autosuggest__suggestions-list {
    list-style: none;
    list-style-type: none;
    margin-left: -30px;
    width: 70%;
    margin-bottom: -15px;
}

.suggestItem{
    background-color: transparent;
    list-style: none;
    padding: 3px;
    border: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    border-radius: 3px;
    width: 150%;
    margin-left: -5px;
    font: 1em sans-serif;
    box-shadow: 3px 3px lightgray;
    z-index: 20;
    font-family: 'Indie Flower';
}

.suggestItem:hover{
    background-color: lightgray;
}


.modalInputs{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
    border-color: transparent;
    border: none;
    border-bottom: none;
}

.selectbox{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}
.modalInputs2{
    margin-top: 10px;
    border-radius: 15px;
    width: 80%;
    margin-left: -15%;
    border-color: transparent;
    border: none;
    border-bottom: none;
} 

#modalButton {
    width: 100%;
    margin-top: 40px;
    font-family: 'Permanent Marker', cursive;
    color: gold;
    border-radius: 0;
    border-top: 1px solid #F0EEEB;
}

.modalTitle2{
    width: 400px;
    margin-left: 15px;
    margin-top: -35px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    color: #F0EEEB;
}
.form-label{
    width: 200px;
}

.uploadbox2{
    margin-left: 80px;
    margin-top: 25px;
    width: 100%;
}

#projname {
    height: 20px;
    margin-left: -20px;
}

#locate{
    margin-left: 20%;
}

.Tbox {
    display: flex;
    flex-direction: row;
    margin-left: 23px;
}

.Gbox {
    position: absolute;
    left: 230px;
    bottom: 107px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #538bdb;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#jumpButton {
     margin-top: 10px;
     margin-left: 3.5px;
}

.pickie {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 15px;
}

.picHolder {
    align-items: center;
    width: 80%;
    height: 130px;
    border-radius: 15px;
    object-fit: cover;
}

.picSelectDiv {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #538bdb;
    width: 175px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-left: -15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(300%) saturate(1000%) hue-rotate(1000deg)
      brightness(180%) contrast(60%);
  }