

.inputboxType1{
    display: flex;
    flex-direction: column;;
    margin-left: 20%;
    margin-top: 15px;
}

.inputboxType2{
    display: flex;
    flex-direction: column;;
    margin-left: 22%;
    margin-top: 0px;
}
.autosuggestbox{
    display: flex;
    flex-direction: column;;
    margin-left: 20%;
    margin-top: 10px;
    background-color: transparent;
    border: transparent;
    width: 50%;
    list-style: none;
    list-style-type: none;
}

#animal {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1.5px solid gray;
    width: 109%;
    height: 40px;
    font-size: medium;
    list-style-type: none;
    padding-right: -50px;
    margin-bottom: -15px;
}

.autosug{
    list-style: none;
    margin-right: -30;
}

.suggestItem{
    z-index: 2;
    background-color: transparent;
    list-style: none;
    padding: 3px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-radius: 3px;
    width: 150%;
    margin-left: -5px;
    font: 1em sans-serif;
    box-shadow: 2px, 4px black;
}

.suggestItem:hover{
    background-color: lightgray;
}

.modalInputs{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
}

.selectbox{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}
.modalInputs2{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
} 

#modalButton {
   background-color: rgb(208, 231, 208);
   margin-left: 27%;
   margin-top: 25px;
   margin-bottom: 10px
}

.modalTitle{
    margin-left: 15%;
    margin-top: 15px;
}

.uploadbox2{
    margin-left: 23%;
    margin-top: 15px;
    width: 100%;
}

#projname {
    height: 20px;
    margin-left: -20px;
}

#locate{
    margin-left: 20%;
}

.Tbox {
    display: flex;
    flex-direction: row;
    margin-left: 23px;
}

.Gbox {
    margin-top: 28px;
    margin-left: 0px;
}

#jumpButton {
    margin-left: -10px;
}

.pickie {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
}

.picHolder {
    align-items: center;
    width: 80%;
    height: 130px;
    border-radius: 15px;
}