@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

.inputboxType1{
    display: flex;
    flex-direction: column;;
    margin-left: 20%;
    margin-top: 30px;
    font-family: 'Indie Flower';
}

.inputboxType2{
    display: flex;
    flex-direction: column;;
    margin-left: 24%;
    margin-top: 15px;
    width: 100%; 
    font-family: 'Indie Flower';
}
.autosuggestbox{
    display: flex;
    flex-direction: row;;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: -10px;
    background-color: transparent;
    border: transparent;
    width: 167px;
    border-bottom: 1px solid gray;    
}

.autosuggestbox:hover{
    border-width: medium;
    border-bottom: solid black;
}

#XButton{
    width: 10px;
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
    margin-left: -1px;
}

#animal {
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 40px;
    font-size: medium;
    list-style-type: none;
    padding-right: -50px;
    margin-bottom: -15px;
    text-overflow: ellipsis;
}

#react-autowhatever-1 {
    list-style: none;
    list-style-type: none;
    z-index: 10;
}

#react-autowhatever-1--open {
    list-style: none;
    list-style-type: none;
    z-index: 10;
}

.react-autosuggest__suggestions-list {
    list-style: none;
    list-style-type: none;
    margin-left: -30px;
    width: 70%;
    margin-bottom: -15px;
}

.suggestItem{
    background-color: transparent;
    list-style: none;
    padding: 3px;
    border: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    border-radius: 3px;
    width: 150%;
    margin-left: -5px;
    font: 1em sans-serif;
    box-shadow: 3px 3px lightgray;
    z-index: 20;
    font-family: 'Indie Flower';
}

.suggestItem:hover{
    background-color: lightgray;
}


.modalInputs{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
}

.selectbox{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 22%;
}
.modalInputs2{
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: -15%;
} 

#modalButton {
   background-color: rgb(208, 231, 208);
   margin-left: 27%;
   margin-top: 25px;
   margin-bottom: 10px;
   font-family: 'Permanent Marker', cursive;
}

.modalTitle2{
    width: 400px;
    margin-left: 15px;
    margin-top: -35px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;;
}
.form-label{
    width: 200px;
}

.uploadbox2{
    margin-left: 23%;
    margin-top: 25px;
    width: 100%;
}

#projname {
    height: 20px;
    margin-left: -20px;
}

#locate{
    margin-left: 20%;
}

.Tbox {
    display: flex;
    flex-direction: row;
    margin-left: 23px;
}

.Gbox {
    margin-top: 25px;
    margin-left: 10px;
}

#jumpButton {
    margin-left: 50px;
}

.pickie {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 15px;
}

.picHolder {
    align-items: center;
    width: 80%;
    height: 130px;
    border-radius: 15px;
}