.masterDiv2 {
  width: 100%;
  background-color: pink;
}

.picContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.areLabel {
  color: white;
  margin-left: -10px;
  font-family: "Indie Flower";
  font-size: 29px;
  margin-top: 50px;
  font-weight: bolder;
}

.picScoll2 {
  overflow-y: hidden;
  overflow-x: hidden;
  height: auto;
  width: 98vw;
}

.pictureBoxA {
  width: 193px;
  margin-top: -20px;
  z-index: 0;
}

.alice-carousel__dots {
  margin: 10px 3px 5px;
}

.micros {
  background-color: darkblue;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: 192px;
  text-align: center;
}

.microsSelected {
  background-color: gold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: 192px;
}

.animalLabelArea {
  padding-top: 5px;
  border: grey 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Indie Flower";
}

.animalLabelAreaSelected {
  color: black;
  padding-top: 5px;
  border: grey 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Indie Flower";
}

.emptyPhotos {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  font-family: "Indie Flower";
  font-size: calc(10px + 1vw);
  margin-top: -50px;

}

.masterDivX {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 160px;
  /* background-color: pink; */
  overflow: hidden;
}

.masterDivX:hover .backTog{
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.backTog{
  opacity: 0;
}

.picScollX {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  height: 160px;
  /* overflow: hidden; */
  /* background-color: greenyellow; */
  opacity: 1;
  /* transition: translatex(-193px) 1s ease-out; */
}

.picScollY {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  height: 160px;
  overflow: hidden;
  /* background-color: purple; */
  opacity: 1;
  z-index: 2;
}
