.masterDiv2{
  width: 100%;
}

.picContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.areLabel{
  color: white;
  margin-left: -10px;
  font-family: 'Indie Flower';
  font-size: 29px;
  margin-top: 50px;
  font-weight: bolder;
}

.picScoll2{
  overflow-y: hidden;
  overflow-x: hidden;
  height: auto;
  width: 98vw;
}

.pictureBoxA{
  width: 193px;
}

.alice-carousel__dots{
  margin: 10px 3px 5px;
}

.micros{
  background-color: darkblue;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: 192px;
  text-align: center;
}

.microsSelected{
  background-color: gold;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: 192px;
}

.animalLabelArea{
  padding-top: 5px;
   border: grey 1px solid;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  font-family: 'Indie Flower'; 
}

.animalLabelAreaSelected{
  color: black;
  padding-top: 5px;
  border: grey 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Indie Flower'; 
}

.emptyPhotos{
  color: white;
  font-family: 'Indie Flower';
  font-size: calc(10px + 1vw);
  margin-top: -50px;
}


