
.text{
        font-family: Caveat, cursive;
        background-color: white;
		color: darkblue;
        border-radius: 0px 10px 0px 0px;
        position: absolute;
        bottom: 0;
        padding-top: 5px;
        margin-bottom: -5px;
        width: 150px;
        height: 40px;
        text-align: center;
		box-shadow: 2px -2px 4px #00000064;
}

@media only screen and (max-width: 500px) {
    .text{
        padding-top: 2px;
        margin-bottom: 0px;
        width: 100px;
        height: 30px;
        font-size: 16px;
}
}
