
#photoList {
    border: 1px solid gray;
    width: 80%;
    min-width: 700px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 1px rgb(99, 99, 99);
    margin: auto;
    height: 800px;
    overflow: scroll;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -30px;
    width: 96%;
    min-width: 550px;
}

.photoLI {
    margin-bottom: 10px;
    width: 100%;
}

#photoContainer {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 95%;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
}

#photoValidator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.imageBox {
    width: 170px;
    height: 100px;
}

.Itag {
    border-radius: 10px 0px 0px 10px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100px;
    margin-left: 20px;
}

.labelInputCombo {
    display: flex;
    flex-direction: row;
}

.labels {
    width: 100px;
    text-align: left;
}

#inpt {
    width: 150px;
    border: none;
    text-align: right;
    font-style: oblique;
    
}

.FABbox {
    display: flex;
    height: 110px;
}

.FAB {
 width: 100px;
 margin-left: 12px;
 margin-top: 20px;
}