
.suggestInput{
  width: 150px;
  height: 28px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: medium;
  text-overflow: ellipsis;
}

.suggestInput:focus{
  user-select: none;
  outline: none;
}

.suggestItem{
  width: 165px;
  height: auto;
  background-color: ivory;
  border-radius: 5px;
  list-style: none;
  transform: translateX(18px);
}