
.suggestInput{
  width: 150px;
  height: 28px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: medium;
  text-overflow: ellipsis;
  color: #F0EEEB;
  background-color: #33586A;
  border-radius: 5px;
  font-size: large;
}

.suggestInput:focus{
  user-select: none;
  outline: none;
}

.suggestItem{
  width: 165px;
  height: auto;
  background-color: #33586A;
  border: transparent;
  border-radius: 5px;
  list-style: none;
  transform: translateX(18px);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  color: #F0EEEB;
}

.css-yz9k0d-MuiInputBase-input {
  text-align: center;
}