.map-container {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.aligner {
  position: absolute;
  pointer-events: none;
  bottom: 200px;
  right: 67px;
  height: 419px;
  pointer-events: none;
  width: 266px;
  /* background-color: lightpink; */
  z-index: 1;
}

.places-container {
  pointer-events: all;
  margin-top: 125px;
  width: 222px;
  z-index: 5;
}
.combobox-input {
  width: 100.5%;
  padding: 0.5rem;
  height: 25px;
  border-radius: 10px;
  opacity: 0.7;
}

.popover {
  width: auto;
  height: auto;
  z-index: 10;
  border-radius: 10px;
}

.poplist {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.popopt {
  width: auto;
  height: 40px;
  border-radius: 5px;
}

.boxLight {
  z-index: 9;
  width: 1000px;
  height: 700px;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}
