.map-container {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.places-container {
  z-index: 4;
  position: absolute;
  top: 241px;
  left: 65px;
  width: 222px;
}
.combobox-input{
  width: 100.5%;
  padding: 0.5rem;
  height: 25px;
  border-radius: 10px;
  opacity: 0.7;
}

.popover{
  width: auto;
  height: auto;
  z-index: 10;
  border-radius: 10px;
}

.poplist{
  width: auto;
  height: auto;
  border-radius: 10px;
}

.popopt{
  width: auto;
  height: 40px;
  border-radius: 5px;
}

.boxLight{
  z-index: 9;
  width: 1000px;
  height: 700px;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}