@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

.mappagemaster{
   position: relative;
   width: 100vw;
   height: 100%;
}

.AutoSug{
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 400px;
}

.col2rowT {
    position: absolute;
    z-index: 2;
    top: 10px;
    margin-left: clamp(10px, 25vw, 2000px);
    width: clamp(50px, 50vw, 600px);
}

.sliderDiv{
    width: 55vw;
    background-color: white;
    opacity: 80%;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
}

.col1row2 {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 15px;
}

.col1row3 {
    z-index: 2;
    position: absolute;
    top: 140px;
    left: 15px;
}

.col1row4 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 203px;
    left: 10px
}

.col1row5 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 263px;
    left: 10px
}

.col1row6 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 323px;
    left: 10px;
}

.col1row7 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 383px;
    left: 10px;
}

.col1row8 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 10px;
}


.col1rowB{
    width: 145px;
    z-index: 2;
    position: absolute;
    /* margin-top: 100vh; */
    bottom: 0;
   
    
}

.col2rowB{
    height: auto;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-size: large;
    font-weight: bold;
    margin-left: clamp(10px, 35vw, 2000px);
    width: clamp(50px, 50vw, 300px);
}


@media only screen and (max-width: 500px) {

    .sliderDiv{
        display: flex;
        width: 55vw;
        height: 45px;
        background-color: white;
        opacity: 80%;
        border-radius: 10px;
        font-family: 'Permanent Marker', cursive;
        font-size: large;
        margin-top: -2px;
    }


    .col2rowB{
        height: 25px;
        z-index: 2;
        position: absolute;
        bottom: 0;
        background-color: white;
        opacity: 80%;
        border-radius: 5px;
        font-family: 'Caveat', cursive;
        font-size: large;
        font-weight: bold;
        margin-left: clamp(10px, 22vw, 2000px);
        width: 75vw;
    }
}