
.monthbox{
    margin-bottom: -5px;
}

.monthvalue{
    font-size: calc(10px + 1vw);
}

@media only screen and (max-width: 500px) {

    .monthbox{
        margin-bottom: -14px;
        margin-top: -2px;
    }

    .monthvalue{
        font-size: 14px;
    }
}
