.css-1le28he-MuiInputBase-root{
    width: 100%;
    margin-left: 5%;
}

.suggestInput{
    width: 100%;
    margin-left: 5%;
}

.suggestItemMulti{
    /* height: 30px; */
    width: 170px;
    list-style: none;
    background-color: white;
    color: black;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: center;
    justify-self: center;
}

.suggestItemMulti:hover{
    /* height: 30px; */
    width: 170px;
    list-style: none;
    background-color: white;
    color: grey;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: center;
    justify-self: center;
}

.suggestItemMultiSelected{
    /* height: 30px; */
    width: 170px;
    list-style: none;
    background-color: lightgray;
    color: grey;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: center;
    justify-self: center;
}

.menuButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #9B884E;
    background-color: #33586A;
    font-family: 'Permanent Marker', cursive;
    font-Size: 12;
    opacity: 1;
    height: 35px;
    width: 170px;
    padding: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-self: center;
    justify-self: center;
    margin-bottom: 2%;
}

.noAnimals{
    display: flex;
    align-items: center;
    justify-content: center;
    color: maroon;
    background-color: white;
    font-family: 'Indie Flower';
    opacity: 1;
    height: 35px;
    width: 170px;
    padding: 2px;

}

.tagContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 55vw;
    min-height: 50px;
    /* margin-top: 7%; */
    flex-wrap: wrap;
    justify-content: center;
}